// Google fonts
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;700;800&family=Mulish:wght@200&family=Playfair+Display&family=Roboto:wght@300;400&display=swap");
hmtl {
  font-family: "Inter", sans-serif;
  font-family: "Mulish", sans-serif;
  font-family: "Playfair Display", serif;
  font-family: "Roboto", sans-serif;
}

